apiVersion: v1
kind: Secret
metadata:
  name: taskapp-secrets
  namespace: taskapp
  labels:
    app: taskapp
type: Opaque
stringData:
  POSTGRES_PASSWORD: "{{ vault_postgres_password }}"
  DATABASE_URL: "postgresql://taskapp_user:{{ vault_postgres_password }}@postgres-svc.taskapp.svc.cluster.local:5432/taskapp"
